name: rector

on:
  push:
    branches:
      - master
      - '*.x'
  pull_request:

jobs:
  rector:
    runs-on: ubuntu-22.04

    name: Code Quality (Rector)

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: 8.4
          tools: composer:v2
          coverage: none

      - name: Install dependencies
        run: composer update --prefer-dist --no-interaction --no-progress

      - name: Check code quality
        run: vendor/bin/rector --dry-run
